<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>
			{% block title %}À propos - Swaply
			{% endblock %}
		</title>

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>

	{% block body %}
		{% include 'base.html.twig' %}
		<h1 class="text-center text-3xl font-bold mb-6 text-white">À propos</h1>
		<section>
			<div class="grid max-w-screen-xl mx-auto py-16 grid-cols-12">
				<div class="col-span-7">
					<h1 class="w-4/5 mb-4 text-4xl font-extrabold md:text-5xl xl:text-6xl text-white">Découvrir des alternatives libres et innovantes</h1>
					<p class="mb-6 font-light text-gray-400 mb-8 text-xl">Swaply vous aide à découvrir des alternatives innovantes aux applications dominantes, pour une expérience plus libre et personnalisée.</p>
					<div class="flex space-x-4">
						<a type="button" href="/" aria-current="page" class="mb-9 text-white bg-purple-600 hover:bg-purple-700 rounded-full px-5 py-2.5 border-zinc-700 flex items-center transition-all">Aller à la page d'accueil</a>
						<button type="button" class="mb-9 text-white bg-zinc-800 hover:bg-zinc-700 rounded-full px-5 py-2.5 border-zinc-700 flex items-center transition-all">
							<img src="{{ asset('assets/img/icons-website/github.png') }}" alt="GitHub Logo" class="w-8 h-8 mr-2">
							GitHub
						</button>
					</div>
				</div>
				<div class="col-span-5 hidden md:block">
					<img src="{{ asset('assets/img/icons-website/logo-white.webp') }}" alt="Swaply" class="w-full h-36">
				</div>
			</div>
		</section>
	{% endblock %}
</html>
