{% extends 'base.html.twig' %}

{% block title %}Compte - Swaply{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="mb-3">
            Vous êtes déjà connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconecter</a>
        </div>
    {% endif %}
{% endblock %}
