<form class="max-w-2xl mx-auto" method="GET" action="{{ path('search_products') }}">
    <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3">
				<img src="{{ asset('assets/img/icons-website/search.png') }}" alt="Logo" class="w-6 h-6">
        </div>
        <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-white border border-zinc-700 rounded-2xl bg-black" placeholder="Rechercher..." alue="{{ query }}" name="q" required />
        <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-indigo-900 hover:bg-indigo-950 transition-all hover:bg-blue-800 font-medium rounded-2xl text-sm px-4 py-2">Rechercher</button>
    </div>
</form>