<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>
			{% block title %}Ajouter un site/application
			{% endblock %}
		</title>

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>

	{% block body %}
		{% include 'base.html.twig' %}
		{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
		<h1 class="text-center text-3xl font-bold mb-6 text-white">Ajouter un site/application</h1>
		<h1 class="text-center text-xl italic mb-3 text-white text-gray-300">Avant de publier votre site ou application, assurez-vous de bien respecter ces <a href="https://github.com/mpcgt/swaply/blob/main/CODE_OF_CONDUCT.md" target="_blank" class="text-indigo-500 font-bold">règles</a>.</h1>
		{% include 'products/form.html.twig' %}
		{% include 'footer.html.twig' %}
		{% else %}
			<p class="text-3xl text-red-500 text-center font-semibold">Connectez-vous pour bénéficier d'un accès complet à toutes les fonctionnalités de Swaply.</p>
			<div class="text-center mt-10">
				<a href="{{ path('app_login') }}" class="py-4 px-6 bg-indigo-500 hover:bg-indigo-900 font-medium text-base text-white rounded-full focus:outline-none transition-all">Se connecter</a>
			</div>
		{% endif %}
	{% endblock %}
</html>

