<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		<script src="https://cdn.tailwindcss.com"></script>

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<nav class="flex justify-center items-center mt-5">
			<div class="w-full max-w-screen-xl flex justify-between items-center rounded-full bg-[#2F3466] text-white px-8 py-4 h-16">
				<div class="flex items-center space-x-4">
					<h1 class="text-4xl">Swaply</h1>
				</div>
				<div class="space-x-6">
					<div class="max-w-sm">
						<div class="flex items-center justify-center p-4 space-x-4">
								<a href="/" type="button" class="text-white bg-[#65558F] hover:bg-[#4b3f6b] transition-all focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-4 py-2.5 text-center">
									<div class="flex items-center justify-center space-x-2 whitespace-nowrap">
										<img src="{{ asset('assets/img/icons-website/arrow-left.png') }}" alt="Logo" class="w-6">
										<span>Accueil</span>
									</div>
								</a>
								<a href="/account" type="button" class="text-white bg-[#65558F] hover:bg-[#4b3f6b] transition-all focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-8 py-2.5 text-center">
									<div class="flex items-center justify-center space-x-2 whitespace-nowrap">
										<img src="{{ asset('assets/img/icons-website/account.png') }}" alt="Logo" class="w-6">
										<span>Mon compte</span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</body>
</html>
